.header {
  padding: 20px; /* Add padding for height */
  text-align: center; /* Center-align the text */
  background: #1abc9c; /* Header background color */
  color: black;
  font-size: 30px;
  margin: 20px auto; /* Center the header horizontally */
  max-width: 90%; /* Restrict width to 90% of the screen */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

.flex-container {
  margin: 0 auto; /* Center the flex container */
}


.flex-container-text {
  flex: 1; /* Allow text to take the remaining space */
  margin: 0; /* Remove extra margins */
  padding: 0; /* Ensure no extra padding */
}

.flex-container-text p {
  margin: 0 0 1em; /* Add bottom spacing between paragraphs */
  text-align: justify; /* Optional: Align text for readability */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  margin-top: 45px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.start_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 78%;
}
